@model VereinDataRoot.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div style="border: 1px solid silver; margin: 50px auto; width: 500px">
    <div class="">
        <div style="margin: 15px 10px; display: inline-block; width: 300px">
            <h1>DataRoot Vereinsverwaltung</h1>
        </div>
        <div style="margin: 15px 10px; display: inline-block">
            <a href="http://www.dataroot.ch" class="k-link">DataRoot-Homepage</a>
        </div>
    </div>
    <hr/>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <div style="margin: 20px">
            Benutzer:&nbsp;&nbsp; @Html.TextBoxFor(m => m.Us, new {@class = "k-textbox", style = "width: 370px"})
        </div>
        <div style="margin: 20px">
            Passwort:&nbsp;&nbsp; @Html.PasswordFor(m => m.Pa, new {@class = "k-textbox", style = "width: 370px"})
        </div>
        <div>
            <div style="display: inline-block; margin: 20px; width: 285px">
                <input type="submit" value="Anmelden" class="k-button k-primary"/> <span>@Model.Mes</span>
            </div>
            <div style="display: inline-block; margin: 20px">
                <a href="#" class="k-link">Passwort vergessen</a>
            </div>
        </div>
    }
</div>
