@{
    ViewBag.Title = "Mitglieder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="horizontal">
    <div>
        <div style="text-align: center; font-size: 15px; font-weight: bold; margin: 10px 0">Mitglieder</div>
        @{
            Html.RenderAction("TreeNav", "Main", new { id = 0 });
        }
        @{
            Html.RenderAction("TreeNav", "Main", new { id = 200 });
        }
    </div>
    <div>
        <div id="content"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".nav").on("click", function () {
            loadContetn($(this).data("nav"));
            return false;
        });
        loadContetn("/mitglieder/uebersicht");
    });

    function loadContetn(path) {
        $("#content").html("");
        $.ajax({ url: path, method: "POST" }).done(function (page) {
            $("#content").html(page);
        });
    }
</script>


