@*@using Models
        @model IEnumerable<TreeNavigationModel>

        @helper TreeView(IEnumerable<TreeNavigationModel> navitree)
        {
            foreach (TreeNavigationModel item in navitree)
            {
                <li>
                    @if (item.SubNavigations.Count == 0)
                    {
                        @Html.ActionLink(item.DisplayName, item.ActionMvc, item.ControllerMvc)
                    }
                    else
                    {
                        @item.DisplayName
                        <ul>@TreeView(item.SubNavigations)</ul>
                    }
                </li>
            }
        }

        <ul id="tree">
        @TreeView(Model)
    </ul>
*@




@*<script type="text/javascript">
    $(document).ready(function () {
        $("#tree").kendoMenu();
    });
</script>*@