@{
   Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error - Verein</title>
    <link href="@Url.Content("~/Content/screen.css")" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #ffffff">
<br />
<br />

<div style="margin: 0 auto; padding:0; width: 500px">
    <div class="errordiv">
        @ViewData["Meldung"]<br /><br />
        @ViewData["NeueAnmeldung"]<br /><br />
        @if (ViewData["Funktion"] == "Back")
        {
            <a href="javascript:history.back()">zur&uuml;ck</a>
        }
        
    </div>
    </div>
</body>
</html>